body.AddColor {
    background-color: rgb(48, 167, 74);
    margin: 5 cm;
}

h1 {
    color: whitesmoke;
}

/*a {
    background:    #38761d;
    border-radius: 11px;
    padding:       20px 45px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 23px/1 "Open Sans",  center;
}*/

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: rgb(181, 189, 183)
}

#main-holder {
  width: 50%;
  height: 70%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}

#login-error-msg-holder {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

#login-error-msg {
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

#error-msg-second-line {
  display: block;
}

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field::placeholder {
  color: #3a3a3a;
}

.login-form-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

#login-form-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

global settings to remove any default padding and margins */
* {
  padding: 0;
  margin: 0;
}

/*******************************************************
The following line may be redundant, but does no harm. */
main, header, footer, nav, article { display: block; }

/********************************************************
width, margin and border properties set here apply only
to the body element, while font properties set here will
be inherited throughout                                 */
body {
  width: 900px;
  margin: 20px auto 0 auto;
  border: 8px solid navy;
  border-radius: 25px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1em;
}

/**************************************************
individual element margins set by trial and error */
h3 {
  margin: .5em 0 .2em;
}

p {
  margin: 0 .2em .7em 0;
}

/*********************************************
company logo appears at the top of each page */
div#logo {
  float: left;
  padding: 10px 0 10px 10px;
}

/************************************************
prevents the nav element from "floating upward" */
nav {
  clear: left;
}

/*****************************************************
styles for main menu, dropdown menus, and menu items;
two groups of links: main menu, and dropdown menus   */

/* for the always-visible main menu options */
.Links li {
  float: left;
  width: 127px;
  border-right: 1px solid #FFF;
  font-weight: bold;
  font-size: .7em;
  text-align: center;
  list-style: none;
}

.Links li:last-child {
  width: 132px;
  border-right-width: 0;
}
 
/* for all links for all menu options */
.Links li a,
.Links li span {
  display: block;
  height: 25px;
  line-height: 25px;
  background-color: #048018;
  color: #FFF;
  font-size: 90%;
  text-decoration: none;
}

.Links li a:hover {
  background-color: #5FB361;
  color: #FFF;
}

/* for the dropdown menu options */
.Links div {
  position: absolute;
  background-color: #048018;
  visibility: hidden;
}

.Links div a {
  display: block;
  width: 124px;
  margin-top: 2px;
  padding-left: 3px;
  background-color: #C5DCC9;
  color: #048018;
  text-align: left;
}

/***********************************************************
home page content area has text at left and image at right */
main#home {
  width: 900px;
  height: 480px;
  background-color: rgb(196, 237, 245);
}

article#textLeft {
  float: left;
  width: 604px;
  padding-left: 16px;
}

div#image {
  float: left;
  width: 280px;
  padding: 20px 0 10px;
  text-align: center;
}

/********************************************
footer now contains just a copyright notice */
footer {
  clear: left;
  width: 100%;
  height: 25px;
  line-height: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #093;
  color: #DDD;
  text-align: center;
  font-weight: bold;
  font-size: .9em;
}

/*****************************************************************
list structure must be restored for the site map page, since all
padding and margins have been removed by the global settings     */
article#siteMap ol    { padding: 0 30px 10px; }
article#siteMap ol li { padding-top: 5px; }
article#siteMap ul    { padding: 0 30px 5px; }

/*****************************************************
some pages may contain only text following a heading */
article#textOnly {
  float: left;
  padding: 0 1em;
  background-color: rgb(196, 237, 245);
}

/*******************************************************
pages with submenus at the left have text at the right */
article#textRight {
  float: left;
  width: 95%;
  margin-left: 10px;
}

article.BMI,
article.Feedback {
  margin-top: 20px;
  padding: 20px 50px;
  background-color: rgb(196, 237, 245);
}

.Centered {
  text-align: center;
}

.LeftAligned {
  text-align: left;
}

.RightAligned {
  text-align: right;
}

select, input, textarea {
  background-color: #EEE;
}

.SectionBackground {
  margin: 10px 0;
  padding: 5px 0;
  background-color: rgb(196, 237, 245);
}

.LegendBackground { background-color: #FFF; }

/********************************************************
for the welcome message at the upper right of each page */
div#welcome {
  float: left;
  margin-top: 1em;
  margin-left: 1em;
}

div#welcome h5 {
  margin-top: 1em;
}